/*
 * openbsd-br.org
 */

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);

body {
    padding-top: 0;
    padding-bottom: 0;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 300;
    letter-spacing: -.02em;
    background-color: #F2F2F2;
}

.container {
    padding-top: 30px;
    background-color: #ffffff;
}
.div-download p {
    padding: 30px;
}

.footer-div {
    padding-top: 30px;
    padding-bottom: 40px;
    color: #fff;
    background: #000;
    width: 100%;
}

.brazil-line {
    border-top: 3px solid #5cb85c;
    border-bottom: 3px solid #ffff00;
    height: 1px;
    width: 100%;
}

#top-black {
    color: #fff;
    background: #000;
    width: 100%;
}

#openbsd-br-social-icons {
    padding-top: 0;
    background-color: #000;
    text-align: right;
}

#footer-container {
    color: #fff;
    background: #000;
}

.menu-fixed-style {
    background-color: #fff;
    padding: 15px;
    border-top: 3px solid #5cb85c;
    border-bottom: 3px solid #ffff00;
    width: 1170px;
    margin: auto;
}

.twitter-div-top-left {
    width: 300px;
    float: left;
    padding-top: 9px;
}

